@font-face {
    font-family: shafi_font;
    src: url(../fonts/Poppins-Light.ttf);
    font-weight: 800;
  }
  @font-face {
    font-family: shafi_bold;
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: 800;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family:  !important; */
    font-family: shafi_font !important;
}


body{
    min-height: 100vh;
    
}
a{
    text-decoration: none;
}
.sameheight-item{
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 10px;
}
h1,h2{
    color: rgb(3, 2, 2);
    font-family: shafi_bold !important;
}
h3{
    color: #4f5f6f;
}
.h3, h3 {
    font-size: calc(1.3rem + -0.4vw);
}
.card .title {
	font-size: 1.1rem;
	color: #000;
}
.bg-orange{
    background: #f07d1e;
    color: #fff;
    border-radius: 5px;
    color: #fff;
}
a:not(.btn) {
	color: #fff;
}
.btn.btn-primary {
	color: #fff;
	background-color: #233873;
	border-color: #233873;
    border-radius: 5px;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
	height: 319px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  padding: 0px 10px !important;
  
  margin-right: 5px;
 
}
.btn.btn-primary:hover{
    color: #f07d1e;
	background-color: #0B2C4D;
	border-color: #0B2C4D;
    border-radius: 5px;
    transition: 1s;
}
/* .sidebar .sidebar-menu > li.active {
	background-color: #F07D1E;
	border-color: #F07D1E;
	
}  */
/* .sidebar .sidebar-menu > li.active > a, .sidebar .sidebar-menu > li.active > a:hover {
	background-color: #F07D1E;
	border-color: #F07D1E;
	color: #ffffff !important;
} */
.nav li a:hover{
    color: #F07D1E;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
	position: absolute;
	right: 18px;
	bottom: -17px;
	font-size: 20px;
	font-weight: bold;
	display: block !important;
    font-size: 40px;
}

.header-title {
	font-size: 23px;
}
.title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px 10px 20px !important;
}

.side-menu{
    position: fixed;
     background-image: linear-gradient(#18E066, #189AE7, #fff);
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-menu .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu .brand-name img {
	height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205px;
}



.container-custom{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
    
}
.container-custom .header{
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding-right: 20px;
}
.container-custom .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}
.container-custom .header .nav .search{
    flex: 3;
    display: flex;
    justify-content: center;
}
.container-custom .header .nav .search input[type=text]{
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}
.container-custom .header .nav button{
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-custom .header .nav button i {
	width: 30px;
	height: 30px;
	align-items: center;
	display: flex;
	justify-content: center;
	font-size: 17px;
	color: #999;
}
.student_list_icon {
    border: 2px solid #EEC;
    text-align: center;
    border-radius: 20px 17px;
    font-size: 16px;
    box-sizing: border-box;
    background: #233873;
}
.student_list_icon svg {
    border-right: 2px solid #000;
    padding-right: 14px;
    padding-left: 14px;
}
/* .student_list_icon svg:hover{
    background: orange;
} */
.student_list_icon svg:last-child{
    border-right: 0px solid #000;
}
.container-custom .header .nav .user{
    flex: 1;
   display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-custom .header .nav .user i {
	font-size: 25px;
	color: #7F7F7F;
}
.container-custom .header .nav .user .img-case{
    position: relative;
    width: 50px;
    height: 50px;
}
.container-custom .header .nav .user .img-case i {
	position: absolute;
	top: 0;
	left: 0;
	/* width: 100%; */
	/* height: 100%; */
	font-size: 25px;
	padding-top: 10px;
}
.container-custom .content{
    position: relative;
    margin-top: 10vh;
    background: #f1f1f1;
    min-height: 90vh;
}
.container-custom .content .cards-custom{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-custom .content .cards-custom .card-custom{
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
}
.container-custom .content .cards-custom .card-custom .icon-case i {
	font-size: 50px;
	color: #999;
}
.container-custom .content .content-2{
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    
}
.container-custom .content .content-2 .student-list{
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 20px 25px 25px 25px;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
}
.container-custom .content .content-2 .student-list .title h2{
    align-self: flex-start;
}
.container-custom .content .content-2 .new-students {
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
}
.container-custom .content .content-2 .new-students table td:nth-child(1) i{
    font-size: 40px;
    
}
.first-title span {
	margin-left: -11px;
    font-weight: bold;
}

.footer-logo img {
	height: 50px;
	margin-left: -130px;
}
@media screen and (max-width: 1050px){
    .side-menu li{
        font-size: 18px;
    }
}
@media screen and (max-width: 940px){
     .side-menu li span{
        display: none;
    }
    .side-menu{
        align-items: center;
    }
    .side-menu li i{
       font-size: 30px;
    }
    .side-menu li:hover{
        background: #f05462;
        padding: 8px 38px;
        border: 2px solid white;
        color: #fff;
    }
}
@media screen and (max-width: 536px){
    .brand-name h1{
        font-size: 16px;
    }
    .container-custom .content .cards-custom{
        justify-content: center;
    }
    .side-menu li i{
        width: 30px;
        height: 30px;
    }
    .container-custom .content .content-2 .recent-payments table th:nth-child(2),
    .container-custom .content .content-2 .recent-payments table td:nth-child(2){
        display: none;
    }
}



/* Add Button Code */

/* From uiverse.io by @adamgiebl */
.cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 8px;
    border: none;
    background: linear-gradient(to right, #f07d1e, #a76733);
    color: ghostwhite;
    overflow: hidden;
   }
   
   .cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
   }
   
   .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 8px 20px;
   }
   
   .cssbuttons-io::before,
   .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .cssbuttons-io::before {
    content: "";
    background: #233873;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   
   .cssbuttons-io:active {
    transform: scale(0.95);
   }
   


