*{
    padding: 0;
    margin: 0;
    outline: 0;
}
#headerpart {
    background: #00293E;
    width: 100%;
    color: #fff;
    line-height: 9vh;
    min-height: 10vh;
}

.logohome img {
	height: 37px;
	margin-top: 17px;
}
.logo img {
	height: 40px;
	margin-top: -47px;
}

.title h3 {
	padding-top: 10px;
}

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	/* padding-top: .5rem; */
	/* padding-bottom: .5rem; */
}
.nav li i {
	padding-left: 10px;
}

.nav li a {
	text-decoration: navajowhite;
	color: #fff;
	font-weight: 600;
    text-transform: uppercase;
    text-align: center;
	
}
#second-header {
    line-height: 50px;
    min-height: 10vh;
    background: #FFE;
    
}
#contentpart {
	height: 60vh;
	width: 100%;
	background: #E1E1E1;
   
}
.carousel-item{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.carousel-item img{
   height: 60vh;
	width: 100%;
}
.card-main{
    height: 55vh;
    background: #fff;
}
.form-bottom {
	text-align: center;
	/* text-transform: uppercase; */
	
	line-height: 30px;
}
.form-bottom a{
	font-size: 14px;
	font-weight: 500;
}
.form-bottom span{
    display: block;
}
.form-bottom button {
	width: 96px;
	font-weight: bold;
}
#footerpart {
	min-height: 13vh;
	background: #00293E;
	color: #fff;
	display: flex;
	justify-content: center;
	justify-items: center;
	/* padding-top: 29px; */
	text-align: center;
	align-items: center;
}
.second-footer{
	min-height: 7vh;
	background: #fff;
}
.footer-icon svg {
	border-radius: 100%;
	
	margin-left: 8px;
	color: #F07D1E;
	text-align: center;
}

/* Student Dashboard */
.subname{

}

.subname h3 {
    font-size: 20px;
    font-weight: bold;
}

.check-icon {
    border: 3px solid #000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
	padding-top: 5px;
   text-align: center;
}
.check-icon i {
    font-size: 34px;
    text-align: center;
}
